/* CSS variables */
:root {
    --white: #F5F5F4;
    --grey: #A8A29E;
    --black: #1C1917;
    --Orange: #EA580C;
    --green-300: #BEF264;
    --green-500: #84CC16;
    --green-600: #65A30D;
    --border-radius: 8px;
    --spacing-sm: 10px;
    --spacing-md: 20px;
    --spacing-lg: 30px;
    --container-width: 1000px;
    --shadow: rgba(0, 0, 0, 0.16) 4px 8px 10px;
    --outline: 2px solid red;
    --board-Dimensions: 450px;
    --top-border: 2px solid #65A30D;

    --primary-blue: #1ae8ff;
    --secondary-blue: #1aa3ff;
    --primary-green: #6eeb83;
    --primary-yellow: #e4ff1a;
    --primary-orange: #ffae00;

}


/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    min-height: 100%;
    height: 100%;

}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(-45deg, var(--primary-blue), var(--primary-green), var(--secondary-blue));
    background-size: 300% 300%;
    animation: gradient 8s ease infinite;
    font-family: 'Bungee', cursive;
    color: var(--white);

}

.header,
.footer {
    flex: none;
}

.main {
    flex: auto;
}

input[type='text'],
input[type='number'] {
    cursor: text;
}

button,
input {
    border: none;
    background-color: var(--primary-blue);
    color: var(--white);
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    outline: none;
}


/* utils  */
.btn {
    padding: 0px var(--spacing-md);
    border-radius: var(--border-radius);
    letter-spacing: 2px;
    transition: 0.15s ease-in-out;
    box-shadow: var(--shadow);
}

.btn span {
    font-size: 10px;
}

.btn:hover {
    scale: 105%;
    box-shadow: var(--shadow);
}

body>div {
    cursor: default;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


/* Header  */
.header {
    background-color: var(--green-500);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-sm);
}


/* main */
.main {
    display: grid;
    grid-template-columns: 200px auto 200px;
}

.gameControls {
    width: 200px;
    background-color: var(--green-500);
    display: grid;
    grid-template-rows: repeat(3, minmax(min-content, max-content));
}

.gameSections {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    justify-content: center;
    align-items: center;
    margin-top: var(--spacing-lg);
}

.scoreCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: var(--spacing-sm);
}

.scoreCard>div {
    width: 80px;
}


/* gametype selection  */
#btn-pvp, #btn-pvc{
    background-color: var(--green-300);
    box-shadow: none;
}

#btn-pvp:hover, #btn-pvc:hover{
    background-color: var(--green-300);
    background-color: var(--primary-orange);
    box-shadow: var(--shadow);
}

#btn-pvp:active, #btn-pvc:active{
    background-color: var(--primary-orange);
    box-shadow: var(--shadow);
}

.p1Score,
.p2Score {
    background-color: var(--green-600);
    color: var(--org);
    border-radius: var(--border-radius);
}


/* gameboard */
.gameBoard {
    display: grid;
    grid-template-columns: repeat(3,minmax(33%, 1fr));
    grid-template-rows: repeat(3,minmax(33%, 1fr));
    gap: var(--spacing-sm);
    width: var(--board-Dimensions);
    height: var(--board-Dimensions);
    justify-self: center;
    margin: var(--spacing-lg);
    border-radius: var(--border-radius);
}

.boardSquare {
    background-color: var(--primary-orange);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 84px;
    box-shadow: var(--shadow);
    transition: 0.15s ease-in-out;
}

.boardSquare:hover {
    scale: 105%;
}


/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm);
    padding: var(--spacing-sm);
    background-color: var(--green-500);
    color: var(--green-600);

}

.fa-github-alt {
    font-size: 24px;
    color: var(--white);
    transition: transform 0.3s ease-in-out;
}

.fa-github-alt:hover {
    transform: rotate(360deg) scale(1.2);
}